
    body {
    font-family: 'Nunito Sans', sans-serif;
  }


  body, html {
    height: 100%;
  }

    #top-image {
      background: url('http://res.cloudinary.com/bogadeji/image/upload/q_auto,f_auto/v1507729051/Rectangle_12_ykepwm.png');
      height: 40%;
      background-position: top center;
      background-repeat: no-repeat;
      /* background-attachment: fixed; */
      background-size: cover;
      background-color: #464646;
    }

.btn-padding {
  padding-left: 30px;
  padding-right: 30px;
}

.hero-padding {
  padding-bottom: 30px;
}


#campain {
    text-align: center;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-size: 24px;
    color: #007BCA;
  }

  img {
    border-radius: 5px;
  }

  .success {
    background-color: #ECEFF6;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #succes-write {
    background: #ffffff;
    padding: 50px 50px 100px 50px;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
  }

  .succes-write p:first-child {
    font-style: normal;
    font-weight: 300;
    line-height: 38px;
    font-size: 22px;
    text-align: justify;
    letter-spacing: 0.88px;
    color: #929292;
  }










  #carousel-example-generic {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .carousel-inner {
    width: 80%;
    margin: auto;
  }

  .carousel-control.left,
  .carousel-control.right {
    background-image: none;
    /*            background-color: #436BC8;*/
  }

  .carousel-control {
    padding: 6px 10px 4px 6px;
    color: #fff;
    /*    background-color: #436BC8;*/
    /*    border-color: #3C60B4;*/
  }

  .top-image {
    background-image: url("Rectangle%2012.png");
    background-color: #ffffff;
    padding-left: 0;
    padding-right: 0;
  }

  section .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .container.history {
    text-align: left;
    align-content: center;
    align-items: center;
  }

  .history p,
  .vision p {
    line-height: 2em;
  }

  .vision span {
    font-size: 3em;
    color: #436BC8;
  }

  .product,
  .vision {
    background-color: #ECEFF6;
  }


  h3 {
    /* font-family: Nunito Sans, sans-serif; */
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    color: #007BCA;
    text-align: center;
  }

  .first-text {
    background-color: #ffffff;
  }
  /*
        .first-text h3{
            text-align: left;
        }
        .first-text{
            background-color: #ffffff;
            align-items: center;
            padding:2px;
        }
*/

  .history {
    background-color: #FFFFFF;
  }

  .product {
    text-align: left;
  }

  .product p {
    font-size: 18px;
  }

  .img-bck-grd {
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #436BC8;
    width: 2em;
    height: 2em;
  }

  .mrgn-btm {
    margin-bottom: 60px;
  }

  margin-top: 60px;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/*    .container.col-md-4.first-text{
            padding: inherit;
        }
        .row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 15px;
}
        .row-grid + .row-grid {
    margin-top: 15px;
}
        .no-gutters, .row.no-gutters {
 margin-left: 0;
            margin-right: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
        col-gutter{}
       
}
*/


  .ellipse {
    box-sizing: border-box;
    border-radius: 50%;
  }

  .col-md-2 {
    padding: 40px;
  }

  .team {
    font-family: Nunito Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    color: #007BCA;
  }

  .details h4 {
    font-weight: bold;
    color: #2e2e2e;
    margin-bottom: 0;
  }

  .details p {
    font-size: 1.1em;
  }

  .bg-meet img, .details img {
    margin: 0 auto;
  }

  .box {
    background-color: #436BC8;
    box-sizing: border-box;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

  .bg-vision, .bg-testimonial {
    background: #eceff6;
    padding-top: 40px;
    padding-bottom: 40px;
  }    

  .bg-campaign {
    padding-top: 40px;
    padding-bottom: 60px;
  }


  .bg-management {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #family-carousel, #testimonial-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 10px;
  }

  #family-carousel .carousel-control , #testimonial-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
  }

  #family-carousel .carousel-indicators, #testimonial-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
    margin-right: -19px;
  }

  #family-carousel .carousel-indicators li, #testimonial-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
  }

    #family-carousel .carousel-indicators .active, #testimonial-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    opacity: 1;
    transition: all .2s;
  }

  .item blockquote {
    border-left: none;
    margin: 0;
  }

  .carousel-link {
    top: 30%;
    transform: translateY(-30%);
    opacity: 1;
  }

  .testimonial {
    background: white;
    padding: 20px 60px;
    min-height: 280px;
    font-size: 14px;
    margin-top: 0;
    -webkit-box-shadow: 8px 5px 10px 0px rgba(144, 146, 149, 0.75);
    -moz-box-shadow: 8px 5px 10px 0px rgba(144, 146, 149, 0.75);
    box-shadow: 8px 5px 10px 0px rgba(144, 146, 149, 0.75);
  }

  .testimonial h4 {
    font-weight: bold;
  }

  .testimonial p {
    margin-bottom: 30px;
  }

  @media only screen and (max-width: 500px) {
    .testimonial {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  @media only screen and (max-width: 992px) {
    .hide-on-small {
      display: none;
    }
  }

  .left-carousel-button {
    padding: 6px 10px 4px 6px;
    color: #fff;
    background-color: #436BC8;
    border-color: #3C60B4;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(144, 146, 149, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(144, 146, 149, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(144, 146, 149, 0.75);
  }

  .right-carousel-button {
    padding: 6px 6px 4px 10px;
    color: #fff;
    background-color: #436BC8;
    border-color: #3C60B4;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(144, 146, 149, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(144, 146, 149, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(144, 146, 149, 0.75);
  }

  .img-center {
    display: flex;
    align-items: center;
  }

  .bg-meet {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .bg-meet .item blockquote i {
    color: #436BC8;

}
  .bg-meet .item blockquote p {
    margin-top: 15px;

} 

.quotes {
    position: relative;
    marign: 0;
    padding: 30px 120px;
    text-align: center;
    /* font-size: 30px; */
}
.quotes:before, .quotes:after {
    position: absolute;
    width: 60px;
    height: 60px;
    font-size: 120px;
    line-height: 1;
    color: #436BC8;
}
.quotes:before {
    top: 0;
    left: 0;
    content: "\201C";
}
.quotes:after {
    top: 0;
    right: 0;
    content: "\201D";
}

p {
  margin-bottom: 30px;
}
p:last-child {
  margin-bottom: 0;
}

.elem1 {
    background: white;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
}

.elem2 {
    padding-left: 0;
    padding-right: 0;
}

.elem3 {
    background: #eceff6;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
}

@media only screen and (max-width: 500px) {
  .quotes {
    position: relative;
    marign: 0;
    padding: 30px 20px;
    text-align: center;
  }
}
