
.header-blue, .header-below {
  margin-bottom: 0;
}

.header-blue {
  background-color: #007BCA;
  color: white;
}

.header-blue .navbar-nav>li>a {
    color: white;
}

@media only screen and (max-width: 992px) {
  .header-blue {
    display: none;
  }
}

.header-below img {
  height: 50px;
  margin: 15px;
}

.header-below .navbar-nav>li>a {
    color: #2e2e2e;
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
}

.header-below .navbar-nav>li>a:hover {
    color: #007BCA;
    background-color: transparent;
}

.navbar-toggle {
  margin-top: 23px;
  padding: 9px 10px !important;
}

.pipe {
  pointer-events: none;
}

