body, html{
    margin: 0px;
    padding: 0px;
	font-family: 'Nunito Sans';
}
* {
    box-sizing: border-box;
}
.carname{
    padding-top:27px;
     font-weight: 700;
      color: #007bca;
}
.info{
    margin-bottom: 10px;
}
.book{
    display: inline;
}
.congrat{
    
	width: 100%;
	min-height: 293px !important;
}
.passbook{
   
	width: 100%;
	min-height: 606px !important;
}
.h3text{
	color: #007bca;
}
.col-md-12{
  background-color: #ffffff;
 }
 .col-md-12 > .col-md-4{
   background-color: #ffffff;
   padding-top: 20px;
 }
 .col-md-12 > .col-md-4 > p{
   padding-top: 10px;
  }

 .navbar.navbar-inverse.nav2{
            background-color:#fff;
            height:80px;
            margin-top: -20px;
            border-color: #fff;
        }
        .center.image{
            margin-left: 50px;
            padding-top: -20px;
            
        }
        .center{
            margin-top: 15px;
            margin-right: 30px;
            padding-top: -10px;
        }
        #center{
            margin-right:15px;
            margin-top: 25px;
        }
        .center.rent{
            margin-right: -10px;
            font-size: 30px;
        }
      .center.rent:hover{
        color:#000;
      }
        .center.new{
            margin-left: -30px;
            font-size: 30px;
        }
        .center.line{
            
            font-size: 50px;
        }
        
        section{
            height:90px;
            background-color: #bbb;
        }
        
        #span{
            padding-left: 15px;
            font-size:20px;
            font-style: italic;
        }
        
        .navbar.navbar-default{
            
            background-color: #fff;
        }
        #footer{
            padding-top: 70px;
        }
        .center.image1{
            margin-left: 22px;
        }
        ul {
            list-style-type: none;
            margin-left: -15px;
        }
        span{
            margin-left:25px;
            font-size: 19px;
        }
        li{padding-top: 10px;}
        .center-block{
            text-align: center;
            padding-top: 13px;
            color: #fff;
            background-color: #000;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        #icon{
            margin-left: 20px;
        }