body{
	font-family: 'Nunito', sans-serif;
}

.container{
	height: 100%;
	width:	100%;
	max-width: 960px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.col-sm-4{
	height: 1880px;
}
.col-sm-8{
	height: 1880px;
}
.car-details{
	width: 125px;
	height: 573px;
	display: inline-block;
	align-content: justify;
}
.cartype{
	font-size: 24px;
	font-style: bold;
	line-height: 33px;
	font-family: Nunito Sans;
	color: #007BCA;
}

.cost{
	float: right;
}

.blue-background{
	background-color: #ECEFF6;
	padding: 30px;
	margin-bottom: 30px;
}

#car-image{
	width: 100%;
}

#customer-name{
  margin-bottom: 50px;
}

#services{
	padding-left: 30px;
	margin-bottom: 50px;
}

#extra-services{
	margin-bottom: 50px;
}
.navbar.navbar-inverse.nav2{
            background-color:#fff;
            height:80px;
            margin-top: -20px;
            border-color: #fff;
        }
        
.navbar.navbar-default{
            
            background-color: #fff;
        }